# ─── Environment & Secrets ────────────────────────────────
.env
*.env.local
infrastructure/gcp/service-account-key.json
infrastructure/gcp/*.json
secrets/
credentials/service-account.json

# ─── Python ───────────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
dist/
build/
*.egg-info/
.eggs/

# ─── Docker ───────────────────────────────────────────────
docker-compose.override.yml

# ─── IDE ──────────────────────────────────────────────────
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# ─── Logs ─────────────────────────────────────────────────
*.log
logs/

# ─── Airflow ──────────────────────────────────────────────
orchestration/airflow/logs/

# ─── Great Expectations ───────────────────────────────────
monitoring/great_expectations/uncommitted/

# ─── Jupyter ──────────────────────────────────────────────
.ipynb_checkpoints/
*.ipynb
Makefile

# ─── DBT ───────────────────────────────────────────────
development/
dbt/dbt_project/dbt_packages/
dbt/dbt_project/logs/
dbt/dbt_project/target/
dbt/dbt_project/REVIEW_NOTES.md
dbt/dbt_project/.dbt/
dbt/dbt_project/.pytest_cache/
dbt/dbt_project/package-lock.yml

ride_hailing_batch_project/
ride_hailing_batch_project_v2/

Batch_vs_CDC_revised (2).md
Batch_vs_CDC_revised.md
Batch_vs_CDC.md
CDC_implementation.md